<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="./static/styles.js"></script>
<script src="./static/globalArrays.js"></script>
<script src="./static/incidentscode.js"></script>

  First name:<br>
  <input type="text" name="gridNum" id="gridNum">
  <br>
  <br><br>
    <button class="button" id="logIncident" onclick="logIncident()" style = "background-color: goldenrod;
                    padding: 3px 5px; color: black; font-size: 14px; font-family:'Zilla Slab'" >
                        Log Incident</button>
<!--     <button class="button" id="getResponder" onclick="getResponders()" style = "background-color: goldenrod;
                    padding: 3px 5px; color: black; font-size: 14px; font-family:'Zilla Slab'" >
                        Get Responders</button> -->
</body>
</html>

</body>
</html>